logs
target
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID


# Всякие vscode'овские штучки
/.g8
/.metals
/.bloop
/thunder-tests
/project/project
/project/target
/project/.bloop
